body {
  padding-top: 50px;
}

h1 {
	text-align: center;
}

.flowtow {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	max-width: 520px;
	border: 1px solid black;
	padding: 12px;
	background-color: #ffffff;
}

.flowtow img {
	margin: 12px;
	border: 5px solid black;
    max-width:  465px;
	width: 100%;
}

.flowtow .date {
	display: inline-block;
	float: left;
}

.flowtow .user {
	display: inline-block;
	float: right;
}

#uploadform {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	max-width: 520px;
	border: 1px solid black;
	padding: 12px;
	background-color: #ffffff;
}